package views

import "github.com/erkannt/rechenschaftspflicht/services"

templ AllEvents(events []services.Event) {
	<h1>All Events</h1>
	if len(events) == 0 {
		<p>No events have been recorded.</p>
	} else {
		<ul>
			for _, e := range events {
				<li>
					<strong>{ e.Tag }</strong> - { e.Comment } - { e.Value } - <time>{ e.CreatedAt }</time>
				</li>
			}
		</ul>
	}
}
