package views

templ Layout(pageContent templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8"/>
			<title>Rechenschaftspflicht</title>
			<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1/css/pico.min.css"/>
		</head>
		<body>
			<main class="container">
				@pageContent
			</main>
		</body>
	</html>
}
