package views

import "github.com/erkannt/rechenschaftspflicht/services/eventstore"

templ AllEvents(events []eventstore.Event) {
	<h1>All Events</h1>
	if len(events) == 0 {
		<p>No events have been recorded.</p>
	} else {
		<a href="events.json">Download all events as JSON</a>
		<ul>
			for _, e := range events {
				<li>
					<strong>{ e.RecordedBy }</strong> { e.Tag } - { e.Value } - <time>{ e.RecordedAt }</time> - { e.Comment }
				</li>
			}
		</ul>
	}
}
