package views

templ Forbidden() {
	<h1>Forbidden</h1>
	<p>You do not have permission to modify this event. You can only mark your own events as incorrect.</p>
	<p><a href="/all-events">Back to All Events</a></p>
}
