package views

templ Plots(events []PlotData) {
	<h1>Plots</h1>
	if len(events) == 0 {
		<p>No events have been recorded.</p>
	} else {
		<div id="myplot"></div>
		<script type="module" src="/assets/plot.js"></script>
	}
}
